In [1]:
using CSV
background=CSV.read("People_Backgrounds_2020_04_03.csv")
skill=CSV.read("People_Skills_2020_04_03.csv")

400396×12 DataFrames.DataFrame. Omitted printing of 11 columns
│ Row    │ EP ID                            │
│        │ String                           │
├────────┼──────────────────────────────────┤
│ 1      │ 329af26148e8bdf8ab5f939499c68938 │
│ 2      │ 43f31ded64f47e1b26e15e2d9c512ddb │
│ 3      │ ca99d1ce5f8270c656685094b947b3fd │
│ 4      │ 8b08ff3e331aaf60f8209247a570badf │
│ 5      │ f9728f22fe1c2a32b57ef1531c271189 │
│ 6      │ 1dfa1fff4aa72f93529dab42956da4a8 │
│ 7      │ 3c1cfee347a448915a58faae8d140649 │
│ 8      │ 2f081c136d49ba222570eaa5469257f9 │
│ 9      │ c1b445f0b6fef62bfa3d99520ab194bd │
│ 10     │ f737029dd9968748a6aa3bdbd4190e41 │
⋮
│ 400386 │ 5e358baec76590c8e3d08821e1c69293 │
│ 400387 │ 95433d4f7c6f472c5d22f485c064e0cc │
│ 400388 │ 3879a4e5aca1136c6a21c55c9a6b047c │
│ 400389 │ 509d76331b29a633a9471cce9af0e9c8 │
│ 400390 │ 14e240cbe73e8b9b43d9a0d97c202226 │
│ 400391 │ 44a41a14a2398f6f1e464014ca9ee0ab │
│ 400392 │ dc7b0e268a86a1dc81cb37dc08b9e663 │
│ 400393 │ 1284dec8b91639783aff4d8c1ce7447f │
│ 400394 │ f4155d69af3bfe03d7fbf1d33ef58085 │
│ 400395 │ a7250abb9bd0c0bf0a302742be86e94d │
│ 400396 │ 371130a93abbbf6c5655bbf8d551326d │

In [3]:
names(background)

9-element Array{String,1}:
 "EP ID"
 "Status"
 "Background"
 "Gender"
 "Age"
 "Signed Up"
 "Home LC"
 "Home MC"
 "Home Region"

In [4]:
background."EP ID"

83174-element CSV.Column{String,String}:
 "000619cc73c5728e1a49948c18c423c6"
 "000619cc73c5728e1a49948c18c423c6"
 "00ec8f38ff587c88d1ae1f079548a04b"
 "00ec8f38ff587c88d1ae1f079548a04b"
 "0157f9bd328f764d59e108e6b09b3207"
 "0157f9bd328f764d59e108e6b09b3207"
 "0157f9bd328f764d59e108e6b09b3207"
 "015833bdccf8df71cd0ea61b624d78e6"
 "0318c0fa472a56707e0791803ec63a06"
 "03b8321d9af9b1df402d0dc74bade116"
 "063d78a246bce0e281f8589c323368f1"
 "063d78a246bce0e281f8589c323368f1"
 "063d78a246bce0e281f8589c323368f1"
 ⋮
 "79185ee745547328da127fc983a8e00c"
 "95433d4f7c6f472c5d22f485c064e0cc"
 "a1cc0a60f9048125f0f2cac871d7ee8f"
 "a2db317043e94698cf5d171a05fbf222"
 "ce9bb686f79a4f456fb775e1bf00a518"
 "db813cd01939781ea6388c0bb80ee08f"
 "db813cd01939781ea6388c0bb80ee08f"
 "e76a07d652173e9e4117ce66dedf3ade"
 "e9733bfa6df1f0dec9bc084f46167933"
 "e9cc43b796e992454aedc1fd99264e55"
 "fee47f584884a61c8cebb0dc623aa704"
 "ff23106f2149e58aab96cd5b8d29b4ed"

row by row:

In [7]:
names(background)

9-element Array{String,1}:
 "EP ID"
 "Status"
 "Background"
 "Gender"
 "Age"
 "Signed Up"
 "Home LC"
 "Home MC"
 "Home Region"

In [8]:
names(skill)

12-element Array{String,1}:
 "EP ID"
 "Home LC"
 "Home MC"
 "Home Region"
 "Interest in GV"
 "Interest in GT"
 "Interest in GE"
 "Active Member"
 "Role"
 "Date first position start"
 "Date last position end"
 "Languages"

In [9]:
union(names(background),names(skill))

17-element Array{String,1}:
 "EP ID"
 "Status"
 "Background"
 "Gender"
 "Age"
 "Signed Up"
 "Home LC"
 "Home MC"
 "Home Region"
 "Interest in GV"
 "Interest in GT"
 "Interest in GE"
 "Active Member"
 "Role"
 "Date first position start"
 "Date last position end"
 "Languages"

In [15]:
import Pkg; Pkg.add("DataFrame")

  Updating registry at `~/.julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
[1mFetching: [========================================>]  100.0 %.0 %

Pkg.Types.PkgError: The following package names could not be resolved:
 * DataFrame (not found in project, manifest or registry)
Please specify by known `name=uuid`.

In [19]:
#mock data:
using DataFrames
one=DataFrame(names=["James","Lily","Ellen"],Age=[15,27,22],Male=[true,false,false])
two=DataFrame(names=["James","Ellen","Chad","Lily"],Age=[15,22,19,27],Male=[true,false,true,false],Eye=["blue","brown","blue","green"])

4×4 DataFrame
│ Row │ names  │ Age   │ Male  │ Eye    │
│     │ String │ Int32 │ Bool  │ String │
├─────┼────────┼───────┼───────┼────────┤
│ 1   │ James  │ 15    │ true  │ blue   │
│ 2   │ Ellen  │ 22    │ false │ brown  │
│ 3   │ Chad   │ 19    │ true  │ blue   │
│ 4   │ Lily   │ 27    │ false │ green  │

In [20]:
name=union(names(one),names(two))

4-element Array{String,1}:
 "names"
 "Age"
 "Male"
 "Eye"

In [23]:
#making Jame's row
#get 1st person in one's row:
one[1,:]

DataFrameRow
│ Row │ names  │ Age   │ Male │
│     │ String │ Int32 │ Bool │
├─────┼────────┼───────┼──────┤
│ 1   │ James  │ 15    │ true │

In [38]:
#get first person's name and find first person's credentials in two's row:

DataFrame.innerjoin(one, two; on = :name, unique=true)

ErrorException: type DataType has no field innerjoin

In [39]:
name = DataFrame(ID = [1, 2, 3], Name = ["John Doe", "Jane Doe", "Joe Blogs"])

3×2 DataFrame
│ Row │ ID    │ Name      │
│     │ Int32 │ String    │
├─────┼───────┼───────────┤
│ 1   │ 1     │ John Doe  │
│ 2   │ 2     │ Jane Doe  │
│ 3   │ 3     │ Joe Blogs │

In [40]:
job = DataFrame(ID = [1, 2, 4], Job = ["Lawyer", "Doctor", "Farmer"])

3×2 DataFrame
│ Row │ ID    │ Job    │
│     │ Int32 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ Lawyer │
│ 2   │ 2     │ Doctor │
│ 3   │ 4     │ Farmer │

In [41]:
innerjoin(name, job, on = :ID)

2×3 DataFrame
│ Row │ ID    │ Name     │ Job    │
│     │ Int32 │ String   │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ John Doe │ Lawyer │
│ 2   │ 2     │ Jane Doe │ Doctor │

In [42]:
one

3×3 DataFrame
│ Row │ names  │ Age   │ Male  │
│     │ String │ Int32 │ Bool  │
├─────┼────────┼───────┼───────┤
│ 1   │ James  │ 15    │ true  │
│ 2   │ Lily   │ 27    │ false │
│ 3   │ Ellen  │ 22    │ false │

In [43]:
two

4×4 DataFrame
│ Row │ names  │ Age   │ Male  │ Eye    │
│     │ String │ Int32 │ Bool  │ String │
├─────┼────────┼───────┼───────┼────────┤
│ 1   │ James  │ 15    │ true  │ blue   │
│ 2   │ Ellen  │ 22    │ false │ brown  │
│ 3   │ Chad   │ 19    │ true  │ blue   │
│ 4   │ Lily   │ 27    │ false │ green  │

In [51]:
innerjoin(two,one,on=:names,makeunique=true)

3×6 DataFrame
│ Row │ names  │ Age   │ Male  │ Eye    │ Age_1 │ Male_1 │
│     │ String │ Int32 │ Bool  │ String │ Int32 │ Bool   │
├─────┼────────┼───────┼───────┼────────┼───────┼────────┤
│ 1   │ James  │ 15    │ true  │ blue   │ 15    │ true   │
│ 2   │ Ellen  │ 22    │ false │ brown  │ 22    │ false  │
│ 3   │ Lily   │ 27    │ false │ green  │ 27    │ false  │

# this is it my dude

In [62]:
outerjoin(one,two,on=[:names,:Male,:Age],makeunique=true)

4×4 DataFrame
│ Row │ names  │ Age   │ Male  │ Eye     │
│     │ String │ Int32 │ Bool  │ String? │
├─────┼────────┼───────┼───────┼─────────┤
│ 1   │ James  │ 15    │ true  │ blue    │
│ 2   │ Lily   │ 27    │ false │ green   │
│ 3   │ Ellen  │ 22    │ false │ brown   │
│ 4   │ Chad   │ 19    │ true  │ blue    │

In [60]:
leftjoin(two,one,on=:names,makeunique=true) #includes all rows on first var

4×6 DataFrame
│ Row │ names  │ Age   │ Male  │ Eye    │ Age_1   │ Male_1  │
│     │ String │ Int32 │ Bool  │ String │ Int32?  │ Bool?   │
├─────┼────────┼───────┼───────┼────────┼─────────┼─────────┤
│ 1   │ James  │ 15    │ true  │ blue   │ 15      │ true    │
│ 2   │ Ellen  │ 22    │ false │ brown  │ 22      │ false   │
│ 3   │ Chad   │ 19    │ true  │ blue   │ missing │ missing │
│ 4   │ Lily   │ 27    │ false │ green  │ 27      │ false   │

In [61]:
rightjoin(two,one,on=:names,makeunique=true) #includes all rows on second var

3×6 DataFrame
│ Row │ names   │ Age    │ Male  │ Eye     │ Age_1 │ Male_1 │
│     │ String? │ Int32? │ Bool? │ String? │ Int32 │ Bool   │
├─────┼─────────┼────────┼───────┼─────────┼───────┼────────┤
│ 1   │ James   │ 15     │ true  │ blue    │ 15    │ true   │
│ 2   │ Lily    │ 27     │ false │ green   │ 27    │ false  │
│ 3   │ Ellen   │ 22     │ false │ brown   │ 22    │ false  │

In [63]:
semijoin(two,one,on=:names,makeunique=true) #subset of df1 that match with keys in df2

3×4 DataFrame
│ Row │ names  │ Age   │ Male  │ Eye    │
│     │ String │ Int32 │ Bool  │ String │
├─────┼────────┼───────┼───────┼────────┤
│ 1   │ James  │ 15    │ true  │ blue   │
│ 2   │ Ellen  │ 22    │ false │ brown  │
│ 3   │ Lily   │ 27    │ false │ green  │

In [64]:
antijoin(two,one,on=:names,makeunique=true) #subset of rows of df1 that do not match with the keys in df1

1×4 DataFrame
│ Row │ names  │ Age   │ Male │ Eye    │
│     │ String │ Int32 │ Bool │ String │
├─────┼────────┼───────┼──────┼────────┤
│ 1   │ Chad   │ 19    │ true │ blue   │

In [67]:
df1 = DataFrame(X=1:3)
df2 = DataFrame(Y=["a", "b"])
crossjoin(df1,df2) #cartesian product of rows from all passed data frames

6×2 DataFrame
│ Row │ X     │ Y      │
│     │ Int32 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ a      │
│ 2   │ 1     │ b      │
│ 3   │ 2     │ a      │
│ 4   │ 2     │ b      │
│ 5   │ 3     │ a      │
│ 6   │ 3     │ b      │

In [68]:
names(background)

9-element Array{String,1}:
 "EP ID"
 "Status"
 "Background"
 "Gender"
 "Age"
 "Signed Up"
 "Home LC"
 "Home MC"
 "Home Region"

In [69]:
names(skill)

12-element Array{String,1}:
 "EP ID"
 "Home LC"
 "Home MC"
 "Home Region"
 "Interest in GV"
 "Interest in GT"
 "Interest in GE"
 "Active Member"
 "Role"
 "Date first position start"
 "Date last position end"
 "Languages"

In [71]:
#array with :samevalues
arrname=[union(names(background),names(skill))]

1-element Array{Array{String,1},1}:
 ["EP ID", "Status", "Background", "Gender", "Age", "Signed Up", "Home LC", "Home MC", "Home Region", "Interest in GV", "Interest in GT", "Interest in GE", "Active Member", "Role", "Date first position start", "Date last position end", "Languages"]

In [91]:
#outerjoin(one,two,on=[:names,:Male,:Age],makeunique=true)
typeof(arrname)

Array{Array{String,1},1}

In [93]:
for i in arrname[1]
    println(":"*i)
end

:EP ID
:Status
:Background
:Gender
:Age
:Signed Up
:Home LC
:Home MC
:Home Region
:Interest in GV
:Interest in GT
:Interest in GE
:Active Member
:Role
:Date first position start
:Date last position end
:Languages

In [94]:
#OFFICIAL ARRAY WITH SAME VAL:
arr=[":"*i for i in arrname[1]]

17-element Array{String,1}:
 ":EP ID"
 ":Status"
 ":Background"
 ":Gender"
 ":Age"
 ":Signed Up"
 ":Home LC"
 ":Home MC"
 ":Home Region"
 ":Interest in GV"
 ":Interest in GT"
 ":Interest in GE"
 ":Active Member"
 ":Role"
 ":Date first position start"
 ":Date last position end"
 ":Languages"

In [96]:
outerjoin(background,skill,on=arrname[1],makeunique=true)
#okay so I guess this approach is wrong '-'

ArgumentError: ArgumentError: column name :Interest in GV not found in the data frame

In [97]:
background[1,:]

DataFrameRow. Omitted printing of 7 columns
│ Row │ EP ID                            │ Status │
│     │ String                           │ String │
├─────┼──────────────────────────────────┼────────┤
│ 1   │ 000619cc73c5728e1a49948c18c423c6 │ open   │

In [102]:
# join with the one with shorter cols
if names(background)<names(skill)
    println("Yeh")
end

In [114]:
outerjoin(background,skill,on=union(names(background),names(skill)),makeunique=true)

ArgumentError: ArgumentError: column name :Interest in GV not found in the data frame

In [106]:
background

83174×9 DataFrame. Omitted printing of 7 columns
│ Row   │ EP ID                            │ Status    │
│       │ String                           │ String    │
├───────┼──────────────────────────────────┼───────────┤
│ 1     │ 000619cc73c5728e1a49948c18c423c6 │ open      │
│ 2     │ 000619cc73c5728e1a49948c18c423c6 │ rejected  │
│ 3     │ 00ec8f38ff587c88d1ae1f079548a04b │ complete  │
│ 4     │ 00ec8f38ff587c88d1ae1f079548a04b │ rejected  │
│ 5     │ 0157f9bd328f764d59e108e6b09b3207 │ open      │
│ 6     │ 0157f9bd328f764d59e108e6b09b3207 │ rejected  │
│ 7     │ 0157f9bd328f764d59e108e6b09b3207 │ withdrawn │
│ 8     │ 015833bdccf8df71cd0ea61b624d78e6 │ open      │
│ 9     │ 0318c0fa472a56707e0791803ec63a06 │ realized  │
│ 10    │ 03b8321d9af9b1df402d0dc74bade116 │ open      │
⋮
│ 83164 │ 95433d4f7c6f472c5d22f485c064e0cc │ open      │
│ 83165 │ a1cc0a60f9048125f0f2cac871d7ee8f │ open      │
│ 83166 │ a2db317043e94698cf5d171a05fbf222 │ open      │
│ 83167 │ ce9bb686f79a4f456fb775e1bf00a518 │ open      │
│ 83168 │ db813cd01939781ea6388c0bb80ee08f │ matched   │
│ 83169 │ db813cd01939781ea6388c0bb80ee08f │ open      │
│ 83170 │ e76a07d652173e9e4117ce66dedf3ade │ open      │
│ 83171 │ e9733bfa6df1f0dec9bc084f46167933 │ open      │
│ 83172 │ e9cc43b796e992454aedc1fd99264e55 │ matched   │
│ 83173 │ fee47f584884a61c8cebb0dc623aa704 │ open      │
│ 83174 │ ff23106f2149e58aab96cd5b8d29b4ed │ open      │

In [112]:
names(background)[1]

"EP ID"

In [117]:
intersect(names(background),names(skill))

4-element Array{String,1}:
 "EP ID"
 "Home LC"
 "Home MC"
 "Home Region"

In [4]:
using DataFrames
result=outerjoin(background,skill,on=intersect(names(background),names(skill)),makeunique=true)

439103×17 DataFrame. Omitted printing of 15 columns
│ Row    │ EP ID                            │ Status    │
│        │ String                           │ String?   │
├────────┼──────────────────────────────────┼───────────┤
│ 1      │ 000619cc73c5728e1a49948c18c423c6 │ open      │
│ 2      │ 000619cc73c5728e1a49948c18c423c6 │ rejected  │
│ 3      │ 00ec8f38ff587c88d1ae1f079548a04b │ complete  │
│ 4      │ 00ec8f38ff587c88d1ae1f079548a04b │ rejected  │
│ 5      │ 0157f9bd328f764d59e108e6b09b3207 │ open      │
│ 6      │ 0157f9bd328f764d59e108e6b09b3207 │ rejected  │
│ 7      │ 0157f9bd328f764d59e108e6b09b3207 │ withdrawn │
│ 8      │ 015833bdccf8df71cd0ea61b624d78e6 │ open      │
│ 9      │ 0318c0fa472a56707e0791803ec63a06 │ realized  │
│ 10     │ 03b8321d9af9b1df402d0dc74bade116 │ open      │
⋮
│ 439093 │ 53c3660bcdf164f70a0723c93cc52ec7 │ missing   │
│ 439094 │ 5e358baec76590c8e3d08821e1c69293 │ missing   │
│ 439095 │ 3879a4e5aca1136c6a21c55c9a6b047c │ missing   │
│ 439096 │ 509d76331b29a633a9471cce9af0e9c8 │ missing   │
│ 439097 │ 14e240cbe73e8b9b43d9a0d97c202226 │ missing   │
│ 439098 │ 44a41a14a2398f6f1e464014ca9ee0ab │ missing   │
│ 439099 │ dc7b0e268a86a1dc81cb37dc08b9e663 │ missing   │
│ 439100 │ 1284dec8b91639783aff4d8c1ce7447f │ missing   │
│ 439101 │ f4155d69af3bfe03d7fbf1d33ef58085 │ missing   │
│ 439102 │ a7250abb9bd0c0bf0a302742be86e94d │ missing   │
│ 439103 │ 371130a93abbbf6c5655bbf8d551326d │ missing   │

In [ ]:
show(result,)